body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #007bff;
    color: white;
}

#nav-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nav-buttons button:hover {
    background-color: #00408b;
}

h1 {
    margin: 20px;
    color: #333;
}

#filter-container {
    margin: 20px 0;
}

#filter-options {
    margin-top: 10px;
}

#vote-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.skin {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skin img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
